{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.red-light_blue.min.css" />
<style>
    .demo-list-item {
        width: 300px;
    }

    .demo-card-wide.mdl-card {
        width: 400px;
    }
    #form {
        text-align: center;
    }
    #map {
        height: 100%;
    }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .gm-style img {
    max-width: none;
}
.gm-style label {
    width: auto;
    display: inline;
}

fieldset {
    /*float: left;*/
    clear: both;
    width: 100%;
    margin: 0 0 -1em 0;
    padding: 0 0 1em 0;
    border-style: none;
    border-top: 1px solid #BFBAB0;
    /*background-color: #F2EFE9;*/
}
legend {
    margin-left: 1em;
    color: #000000;
    font-weight: bold;
}
legend span {
    /*position: absolute;*/
    /*margin-top: 0.5em;*/
    /*font-size: 135%;*/
}
fieldset ol {
    padding: 0 0 0 2em;
    list-style: none;
}
ul {
    padding: 0 1em 0 1em;
    list-style: none;
}
fieldset li div {
    float: left;
    clear: left;
    width: 100%;
    padding-bottom: 1em;
}
fieldset.submit {
    float: none;
    width: auto;
    border: 0 none #FFF;
    padding-left: 12em;
}
label {
    float: left;
    width: 10em;
    margin-right: 1em;
    text-align: right;
}
img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto\9;
    /* ie8 */
}
td {
    border: 1px;
}
.page {
    margin: 2em auto;
    width: 65em;
    /*border: 5px solid #ccc;*/
    /*padding: 0.8em;*/
    background: white;
}
.mdl-layout__content {
    background: white;
}
.entries {
    list-style: none;
    margin: 0;
    padding: 0;
}
.entries li {
    margin: 0.8em 1.2em;
}
.entries li h2 {
    margin-left: -1em;
}
.add-entry {
    border-bottom: 1px solid #ccc;
}

.metanav {
    /*text-align: right; font-size: 0.8em;*/
    padding: 0.3em;
    margin-bottom: 1em;
    background: #fafafa;
}
.flash {
    background: #cee5F5;
    padding: 0.5em;
    border: 1px solid #aacbe2;
}
.error {
    background: #f0d6d6;
    padding: 0.5em;
}
#map {
    width: auto;
    /*500px;*/
    height: 400px;
    overflow: hidden;
    max-width: none;
    /*background-color: #CCC;*/
}
#map img {
    max-width: none !important;
    max-height: none !important;
}

.material-icons {
    font-family:'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings:'liga';
    -webkit-font-smoothing: antialiased;
}
</style>
{% endblock %}

{% block body %}
<h1 style="text-align: center;">Emergency</h1>
<br>
<div style="text-align: center;">
    <input style="width: 50%; height: 100px; font-size: 300%" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
        type="submit" value="Call 911">
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
            <div class="mdl-tabs__tab-bar">
                <a href="#map-panel" class="mdl-tabs__tab map-tab is-active">Map View</a>
                <a href="#form-ref" class="mdl-tabs__tab form-tab">Next Steps</a>
            </div>
    <div class="mdl-tabs__panel is-active" id="map-panel">
        <div id="map"></div>
    </div>
    <script>
        (function () {
            ('.map-tab').click(function () {
                initMap();
            })
        });
                // Note: This example requires that you consent to location sharing when
        // prompted by your browser. If you see the error "The Geolocation service
        // failed.", it means you probably did not give permission for the browser to
        // locate you.
        var map, infoWindow;
        var l;

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: -34.397, lng: 150.644 },
                zoom: 19
            });
            var geocoder = new google.maps.Geocoder;
            infoWindow = new google.maps.InfoWindow;

            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    
                    geocoder.geocode({'location': pos}, function(results, status) {
                    if (status === 'OK') {
                        if (results[0]) {
                            give_location(results[0].formatted_address);
                            infoWindow.setContent(results[0].formatted_address);
                        } else {
                            window.alert('No results found');
                        }
                        } else {
                            window.alert('Geocoder failed due to: ' + status);
                        }
                    });
                    infoWindow.setPosition(pos);
                    infoWindow.open(map);
                    map.setCenter(pos);
                }, function () {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                'Error: The Geolocation service failed.' :
                'Error: Your browser doesn\'t support geolocation.');
            infoWindow.open(map);
        }

        function give_location(l) {
            var locationForm = document.getElementById("location-ref");
            locationForm.value = l;
        }

        function give_weather(pos) {
            var lat = pos.lat;
            var lon = pos.lng;
            var url = `api.openweathermap.org/data/2.5/weather?lat=${lat}&lon=${lon}`;
            
        }

    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAx6Sps_qnwA4NSh5cyxw24AHt-6agnkcU&callback=initMap">
    </script>
</div>
<br />
<div id="form">
    <div id="first-steps">
        <script type="text/javascript">
            function police_checked() {
                var checkbox = document.getElementById("list-checkbox-6");
                var hidden = document.getElementById("police");

                if (checkbox.checked == true) {
                    hidden.style.display = "block";
                } else {
                    hidden.style.display = "none";
                }
            }

            function witness_checked() {
                var checkbox = document.getElementById("list-checkbox-5");
                var hidden = document.getElementById("witness");

                if (checkbox.checked == true) {
                    hidden.style.display = "block";
                } else {
                    hidden.style.display = "none";
                }
            }

        </script>
        <ul style="padding-left:10%;" class="mdl-list">
            <li class="mdl-list__item">
                <span class="mdl-list__item-secondary-action">
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-3">
                        <input type="checkbox" id="list-checkbox-3" class="mdl-checkbox__input" />
                    </label>
                </span>
                <span class="mdl-list__item-primary-content">
                    Turn off car engine
                </span>
            </li>
            <li class="mdl-list__item">
                <span class="mdl-list__item-secondary-action">
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-4">
                        <input type="checkbox" id="list-checkbox-4" class="mdl-checkbox__input" />
                    </label>
                </span>
                <span class="mdl-list__item-primary-content">
                    Turn on hazard lights
                </span>
            </li>
        </ul>
    </div>
    <div style="padding-left:10%; padding-bottom: 100px" id="Notes">
        <div class="demo-card-wide mdl-card">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">The Accident</h2>
            </div>

            <div class="mdl-card__supporting-text">
                Tell what happened
                <form method="POST">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" name="date" value="{{d}}">
                        <label class="mdl-textfield__label" for="sample3">Date</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" name="time" value="{{t}}">
                        <label class="mdl-textfield__label" for="sample3">Time</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" name="location" id="location-ref">
                        <label class="mdl-textfield__label" for="sample3">Location</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" name="direction_you">
                        <label class="mdl-textfield__label" for="sample3">Direction you were travelling in</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" name="direction_them">
                        <label class="mdl-textfield__label" for="sample3">Direction they were travelling in</label>
                    </div>
                    <input type="file" name="snapshot" accept="image/png, image/jpeg">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <textarea class="mdl-textfield__input" type="text" rows="3" name="personal_account"></textarea>
                        <label class="mdl-textfield__label" for="sample3">Personal Account on What Happened</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" name="weather" value="{{w}}">
                        <label class="mdl-textfield__label" for="sample3">Weather</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <select class="mdl-textfield__input" name="visibility">
                            <option></option>
                            <option value="Great">Great</option>
                            <option value="Good">Good</option>
                            <option value="Poor">Poor</option>
                            <option value="Horrible">Horrible</option>
                        </select>
                        <label class="mdl-textfield__label" for="visi">Visibility</label>
                    </div>
                    <br>
            </div>
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Other Driver's Info</h2>
            </div>
            <div class="mdl-card__supporting-text">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" name="legal_name">
                    <label class="mdl-textfield__label" for="sample3">Legal Name</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" name="phone_number">
                    <label class="mdl-textfield__label" for="sample3">Phone Number</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" name="email">
                    <label class="mdl-textfield__label" for="sample3">Email</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" name="address">
                    <label class="mdl-textfield__label" for="sample3">Address</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" name="insurance_company">
                    <label class="mdl-textfield__label" for="sample3">Insurance Company</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" name="insurance_email">
                    <label class="mdl-textfield__label" for="sample3">Insurance Company Email</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" name="vin">
                    <label class="mdl-textfield__label" for="sample3">Vehicle Identification Number</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" name="model">
                    <label class="mdl-textfield__label" for="sample3">Car Model</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" name="make">
                    <label class="mdl-textfield__label" for="sample3">Car Make</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" name="Year">
                    <label class="mdl-textfield__label" for="sample3">Car Model Year</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" name="license_plate">
                    <label class="mdl-textfield__label" for="sample3">License Plate</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <select class="mdl-textfield__input" name="registration_class_code">
                        <option></option>
                        <option value="PAS">PAS - Passenger Vehicle</option>
                        <option value="SRF">SRF - Personalized Plates</option>
                        <option value="COM">COM - Commercial Vehicles</option>
                        <option value="MOT">MOT - Motocycles</option>
                    </select>
                    <label class="mdl-textfield__label" for="registration_code">Registration Class Code</label>
                </div>
            </div>
            <ul class="mdl-list">
                <li class="mdl-list__item">
                    <span class="mdl-list__item-secondary-action">
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-5">
                            <input type="checkbox" id="list-checkbox-5" name="has_witness" class="mdl-checkbox__input"
                                onclick="witness_checked()" />
                        </label>
                    </span>
                    <span class="mdl-list__item-primary-content">
                        Are there witnesses?
                    </span>
                </li>
                <li class="mdl-list__item">
                    <span class="mdl-list__item-secondary-action">
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-6">
                            <input type="checkbox" id="list-checkbox-6" name="has_police" class="mdl-checkbox__input"
                                onclick="police_checked()" />
                        </label>
                    </span>
                    <span class="mdl-list__item-primary-content">
                        Are there police?
                    </span>
                </li>
            </ul>
            <div id="witness" style="display: none">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Witness's Info</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" name="witness_legal_name">
                        <label class="mdl-textfield__label" for="sample3">Witness's Legal Name</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" name="witness_phone_number">
                        <label class="mdl-textfield__label" for="sample3">Witness's Phone Number</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label witness_testimony">
                        <textarea class="mdl-textfield__input" type="text" rows="3" name="witness_testimony"></textarea>
                        <label class="mdl-textfield__label" for="sample3">Witness's Account on What Happened</label>
                    </div>
                </div>
            </div>
            <div id="police" style="display: none">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Police's Info</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" name="police_legal_name">
                        <label class="mdl-textfield__label" for="sample3">Police's Legal Name</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" name="police_badge">
                        <label class="mdl-textfield__label" for="sample3">Police's Badge Number</label>
                    </div>
                </div>
            </div>
            <input class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>
{% endblock %}